<h3>Eat A Burger</h3>

<h6>Enter the name of a burger you'd like to eat and hit "Submit"</h6>
<br>
<br>

<h4>Burgers that are not devoured!</h4>

<ul>
  {{#each burger}}
    {{#unless this.devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>

<h4>Burgers that are devoured!</h4>

<ul>
  {{#each burger}}
    {{#if this.devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>


{{!-- 
<div class="devourableBurgers">
    <ul>
        {{#each burger}}
        {{#unless this.devoured}}
        <li>
            <p>
                <form>
                    <span id="burger{{this.id}}">
                        <span class="burgerID"> {{this.id}}</span>.
                        <span class="devourable">{{this.burger_name}}</span>
                        <button class="devourBtn">Devour!</button>
                    </span>
                </form>
            </p>
        </li>
        {{/unless}}
        {{/each}}
    </ul>
</div> --}}

{{!-- <div class="devouredBurgers">
    <ul>
        {{#each burger}}
        {{#if this.devoured}}
        <li>
            <p>
                <span id="burger{{this.id}}">
                    <span class="burgerID"> {{this.id}}</span>.
                    <span class="devoured">{{this.burger_name}}</span>
                </span>
            </p>
        </li>
        {{/if}}
        {{/each}}
    </ul>

</div> --}}

<div>
    <form action="/api/burgers" method="POST">
        <textarea type="text" id="submitField" name="burger"></textarea>

        <button type="submit" id="submitBtn">Submit</button>
    </form>
</div>