{{!-- * Setup the `index.handlebars` to have the template that Handlebars can render onto.

     * Create a button in `index.handlebars` that will submit the user input into the database. --}}

<h3>Eat A Burger</h3>

<h6>Enter the name of a burger you'd like to eat and hit "Submit"</h6>

<div class="devourableBurgers">
    <ul>
        {{#each burger}}
        {{#unless this.devoured}}
        <li>
            <p>
                {{!-- {{this.id}}. {{this.burger_name}} --}}
                {{!-- <p>Devoured: {{this.devoured}}</p> --}}
                {{!-- <form action="/" method="PUT"> --}}
                <form>
                    <span id="burger{{this.id}}">
                        <span class="burgerID"> {{this.id}}</span>.
                        <span class="devourable">{{this.burger_name}}</span>
                        <button class="devourBtn">Devour!</button>
                    </span>
                </form>
            </p>
        </li>
        {{/unless}}
        {{/each}}
    </ul>
</div>

<div>
    <form action="/" method="POST">
        <textarea type="text" id="submitField" name="burger"></textarea>

        <button type="submit" id="submitBtn">Submit</button>
    </form>
</div>

<div class="devouredBurgers">
    <ul>
        {{#each burger}}
        {{#if this.devoured}}
        <li>
            <p>
                {{!-- {{this.id}}. {{this.burger_name}} --}}
                {{!-- <p>Devoured: {{this.devoured}}</p> --}}
                {{!-- <form action="/" method="PUT"> --}}
                <span id="burger{{this.id}}">
                    <span class="burgerID"> {{this.id}}</span>.
                    <span class="devoured">{{this.burger_name}}</span>
                </span>
            </p>
        </li>
        {{/if}}
        {{/each}}
    </ul>

</div>

<script type="text/javascript">

    $(".devourBtn").on("click", function (event) {
        event.preventDefault();
        let thisBurgerNameSpan = $(this).parent().find($(".devourable"));
        let thisBurgerIDSpan = $(this).parent().find($(".burgerID"));
        let thisBurgerID = thisBurgerIDSpan[0].innerText;
        let thisBurgerName = thisBurgerNameSpan[0].innerText;
        console.log(thisBurgerID, thisBurgerName);

        var newBurger = {
            id: thisBurgerID
        };

        $.ajax("/", {
            type: "PUT",
            data: newBurger
        }).then(
            function () {
            }
        );
    });
</script>